<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="telephone=no" />
    <!-- TODO: 1 add custom page title -->
    <title>Email TEMPLATE.</title>

    <style type="text/css" media="screen">
        /* Linked Styles */
        body {
            padding: 0 !important;
            margin: 0 !important;
            display: block !important;
            width: 100% !important;
            background: #eeeeee;
            -webkit-text-size-adjust: none;
        }

        .top-container{
            height: 600px;
        }

        .top-content {
          padding: 100px; 
          text-align: center;
        }

        .top-content-text {
          padding: 50px; 
          text-align: center; 
          background-color: rgb(0,0,0,0.5); 
          border-radius: 16px;
        }

        .title{
          color: #B7CD00; 
          font-size: 28px; 
          text-transform: uppercase; 
          font-weight: 700; 
          margin: 0px 0px 40px 0px;
        }
        .description {
          color: #FFFAFA; 
          font-size: 22px; 
          font-weight: 400;
        }
        .btn-confirm {
          cursor: pointer;
          background-color: rgb(255,255,255); 
          color: rgb(183,205,0);
          font-size: 22px; 
          font-weight: 500; 
          border-radius: 1.5rem; 
          border: 2px solid rgb(183,205,0);
          width: fit-content; 
          margin: auto;
        }
        .btn-confirm:hover {
          background-color: rgb(183,205,0); 
          color: rgb(255,255,255);
          border: 2px solid rgb(255,255,255);
        }
        .btn-confirm a {
          color: rgb(183,205,0);
        }
        .btn-confirm a:hover {
          color: rgb(255,255,255);
        }

        .bottom-container {
          padding: 20px 60px; 
          background-color: #333333;
        }
        .bottom-content {
          display: block; 
          padding: 10px;
        }
        .bottom-span {
          text-align: center;
          padding: 0px 0px 2px 0px; 
          border-bottom: 2px ridge rgb(183,205,0);
          color: #6B6B6B; 
          font-size: 16px;
          margin-bottom: 60px;
        }
        .bottom-title {
          text-align: center; 
          color: white; 
          font-size: 28px; 
          font-weight: 600;
        }
        .social-container {
          padding: 20px 60px; 
          background-color: #333333;
          display: flex; 
          justify-content: center;
        }
        .social-content {
            display: flex; 
            justify-content: center;
            margin-top: 60px;
        }
        
        .text-contact {
            display: flex;
            align-items: center;
            color: white; 
            font-size: 16px; 
            font-weight: 400;
            height: 40px;
            margin-right: 40px;
        }
        .social-image {
            margin-right: 20px;
        }

        .copyright-container {
            background-color: #333333;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .text-copyright {
          margin-top: 5px;
          margin-bottom: -10px;
          text-align: center; 
          color: white; 
          font-size: 16px; 
          font-weight: 400;
        }

        .logo {
            background-color: #ffffff; 
            width: 40px; 
            height: 40px;
        }

        /* Mobile styles */
        @media only screen and (min-device-width: 220px) and (max-device-width: 800px) {
            .top-container {
              height: 450px;
            }
            .top-content {
                padding: 100px 10px 10px 10px;
            }
            .top-content-text {
              padding: 20px; 
            }
            .title {
              font-size: 20px; 
            }
            .description {
              font-size: 14px; 
            }
            .btn-confirm {
              font-size: 11px; 
              border-radius: 24px; 
            }
            .bottom-container {
              padding: 10px 30px; 
            }
            .bottom-title {
              font-size: 20px; 
            }
            .social-content {
                margin-left: -20px;
                margin-right: -20px;
            }
            .text-contact {
                font-size: 14px; 
                margin-right: 12px;
            }
            .text-copyright {
                font-size: 14px; 
            }
            .social-image {
                margin-right: 6px;
            }
            .logo {
                width: 30px; 
                height: 30px;
            }
        }
    </style>
</head>

<body class="body" style="
      padding: 0 !important;
      margin: 0 !important;
      display: block !important;
      width: 100% !important;
      background: #eeeeee;
      -webkit-text-size-adjust: none;
    ">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee">
        <tr>
            <td align="center" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
                    <tr>
                        <td class="td" style="
                            width: 100%;
                            padding: 0;
                            margin: 0;
                        ">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <div 
                                            class="top-container" 
                                            style="
                                                    background-image: url({{eventImageUrl}});
                                                    background-position: center;
                                                    background-size: cover; 
                                                    background-repeat: no-repeat;
                                                    width:100%; 
                                                    color: #fff;
                                                    text-align: center;"
                                            >
                                            <div class="top-content">
                                                <div class="top-content-text">
                                                    <h2 class="title">
                                                        {{title}}
                                                    </h2>

                                                    <p class="description">
                                                        Pour confirmer votre réservation à notre prochain évènement, veuillez cliquer ci-dessous :
                                                    </p>
                                                    <p class="btn-confirm" style="padding: 6px 12px;">
                                                        <a href={{eventLink}} style="text-decoration-line: none;" >Confirmer la participation</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="bottom-container">
                                            <div class="bottom-content">
                                                <h6 class="bottom-span">
                                                    BIENVENU
                                                </h6>
                                                <h2 class="bottom-title">
                                                    Bienvenu chez EdEn-Med
                                                </h2>
                                                <div class="social-content" style="display: flex; justify-content: center;">
                                                    <div style="width: fit-content; display: flex; align-items: center; margin: auto;">
                                                        <p class="text-contact">
                                                            Contactez-nous sur
                                                        </p>
                                                        <p class="social-image">
                                                            <a 
                                                                href="https://www.facebook.com/edenMed.tn.it" 
                                                                target="_blank" 
                                                            >
                                                                <img 
                                                                    class="logo"
                                                                    src="cid:facebook-icon" 
                                                                    alt="avatar" />
                                                            </a>
                                                        </p>
                                                        <p class="social-image">
                                                            <a 
                                                                href="https://www.instagram.com/edenMed.tn.it/" 
                                                                target="_blank"
                                                            >
                                                                <img 
                                                                    class="logo"
                                                                    src="cid:instagram-icon" 
                                                                    alt="avatar" />
                                                            </a>
                                                        </p>
                                                        <p>
                                                            <a 
                                                                href="https://www.youtube.com/@edenmedEtalieTunisie" 
                                                                target="_blank"
                                                            >
                                                                <img 
                                                                    class="logo"
                                                                    src="cid:youtube-icon" 
                                                                    alt="avatar" />
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <p class="text-copyright">
                                                    © Copyright 2023 BS Partage.tous droits reservés.
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{!-- <tr>
                                    <td>
                                        <div class="social-container">
                                            <div class="social-content">
                                                <p class="text-contact" style="margin-right: 20px;">
                                                    Contactez-nous sur
                                                </p>
                                                <p style="margin-right: 10px;">
                                                    <a  href="https://www.facebook.com/edenMed.tn.it" 
                                                        target="_blank" 
                                                        >
                                                        <img style="background-color: #333333;
                                                                    width: 40px;
                                                                    height: 40px;
                                                                    " 
                                                            src="cid:facebook-icon" 
                                                            alt="avatar"/>
                                                    </a>
                                                </p>
                                                <p style="margin-right: 10px;">
                                                    <a  href="https://www.instagram.com/edenMed.tn.it/" 
                                                        target="_blank" 
                                                        >
                                                        <img style="background-color: #333333;
                                                                    width: 40px;
                                                                    height: 40px;
                                                                    " 
                                                            src="cid:instagram-icon" 
                                                            alt="avatar"/>
                                                    </a>
                                                </p>
                                                <p style="margin-right: 0px;">
                                                    <a  href="https://www.youtube.com/@edenmedEtalieTunisie" 
                                                        target="_blank" 
                                                        >
                                                        <img style="background-color: #333333;
                                                                    width: 40px;
                                                                    height: 40px;
                                                                    " 
                                                            src="cid:youtube-icon" 
                                                            alt="avatar"/>
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="copyright-container">
                                            <p class="text-copyright">
                                                © Copyright 2023 BS Partage.tous droits reservés.
                                            </p>
                                        </div>
                                    </td>
                                </tr> --}}
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>